{% extends 'smbapp/base.html' %}

{% load static %}

{% block contenido %}
                       
{% if request.user.is_authenticated %}
    <center><p class="small text-muted mb-4 mb-lg-0">Hola :: {{request.user.username}}!</p></center>
    <center>
        {% for band in my_bands %}
                        <div class="card my-4">
                                <div class="card-body">
                                <h5 class="card-title">Banda : {{ band.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Description : {{ band.description }}</h6>
                                <h7>Members:</h7>
                                {% for member in band.members.all %}
                                    <li>
                                        {{member}}
                                    </li>
                                {% endfor %}
                                <a class="btn btn-primary" href="{% url 'edit-band' band.id %}">Edit Band</a>
                                <a class="btn btn-primary" href="{% url 'delete-band' band.id %}">Delete Band</a>
                        </div>
        {% endfor %}
        </center>
    <center>
    <a class="btn btn-primary" href="{% url 'create-band' %}">Create Band</a>
   </center>
{% endif %}


{% endblock %}


