{% extends 'smbapp/base.html' %}

{% load static %}

{% block contenido %}
                       
{% if request.user.is_authenticated %}
        {% if errors %}
            <p style="color: red"> {{errors}} </p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input a class="btn btn-primary" type="submit" value="Update">
            <a class="btn btn-primary" href="{% url 'smbapp-profile' %}">Back</a>
        </form>
{% endif %}


{% endblock %}


