{% extends 'smbapp/base.html' %}

{% load static %}

{% block contenido %}
                       
{% if request.user.is_authenticated %}
    <center><p class="small text-muted mb-4 mb-lg-0">Hola :: {{request.user.username}}!</p></center>
    <br>
    <center>
    <a class="btn btn-primary" href="{% url 'crud-bands' %}">Band Actions</a>
    <a class="btn btn-primary" href="{% url 'crud-posts' %}">Post Actions</a>
   </center>
{% else %}
    <p class="small text-muted mb-4 mb-lg-0">Hola Visitante</p>
{% endif %}


{% endblock %}